.back:not(:first-child) {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/Assets/Images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.3);

}