@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid vh-100 d-flex justify-content-center">
     <img src="~/Assets/Images/logo_index.svg" style="width: 50%" />
</div>